/* YT LINK https://www.youtube.com/watch?v=W8oABKR-PVk */
/* CODEPEN LINK https://codepen.io/cycosta/pen/VwayOdL */

.loader {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.film {
    position: absolute;
    top: -31px;
    left: 0;
    display: flex;
}

.film-img-clockwise {
    animation: rotateClockwise 1.5s linear infinite;
}
.film-img-counter-clockwise {
    border-radius: 20px;
    animation: rotateCounterClockwise 2s linear infinite;
}

.camera {
    z-index: 1;
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateCounterClockwise {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}


/* SHINY EFFECT */

.light-ray{
    position: absolute;
    animation: blinker 1.5s linear infinite;
}

#light-ray-1{
    width: 15px;
    height: 2px;
    background-color: rgb(255, 210, 94);
    /* border-top: 2px solid rgb(255, 210, 94); */
    transform: translateX(44px) rotate(-22deg) translateY(22px);
}

#light-ray-2{
    width: 11px;
    height: 2px;
    background-color: rgb(255, 210, 94);
    /* border-top: 2px solid rgb(255, 210, 94); */
    transform: translateX(64px) rotate(-10deg) translateY(26px);
}

#light-ray-3{
    width: 11px;
    height: 2px;
    background-color: rgb(255, 210, 94);
    /* border-bottom: 2px solid rgb(255, 210, 94); */
    transform: translateX(73px) rotate(187deg) translateY(-47px);
}

#light-ray-4{
    width: 15px;
    height: 2px;
    background-color: rgb(255, 210, 94);
    /* border-bottom: 2px solid rgb(255, 210, 94); */
    transform: translateX(68px) rotate(195deg) translateY(-56px);
}


  
@keyframes blinker {  
50% { opacity: 0.4; }
}