* {
    box-sizing: border-box;
    color: white;
    background-color: rgb(47,79,79);
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2rem;
}

img {
    max-width: 200px;
    max-height: 120px;
}

.italic {
    font-style: italic;
}


div.filters {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
}
div.filters select {
    font-size: 2rem;
}

div.filters input {
    font-size: 2rem;
}


div.fire, div.applyFilters {
    text-align: center;
}

div.fire button {
    cursor: pointer;
    margin: 20px 0;
    font-size: 3rem;
}

div.applyFilters button {
    cursor: pointer;
    margin: 20px 0;
    font-size: 1.2rem;
}

/* TABLE STYLES */

div.table {
    max-width: 1600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    border: 1px solid whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

tbody {
    width: 100%;
    /* background-color: aqua; */
}

tr, td {
    border: 1px solid whitesmoke;
}

td.poster-cell {
    text-align: center;
    width: 20%;
}

td.title-cell {
    width: 70%;
}

td.title-cell > * {
    margin-left: 20px;
}

td.title-cell h2 { /* film title */
    font-size: 2rem;
}

td.title-cell span { /* more span */
    font-size: 1rem;
}

span.more {
    cursor: pointer;
}

span.more:hover{
    color: purple;
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgb(83, 135, 135);
}


/* DETAILS OF A FILM */
.film-full-info.hidden {
    display: none;
}

div.film-full-info {
    max-width: 23vw;
    position: fixed;
    bottom: 20vw; /* Place the button at the bottom of the page */
    left: 20px; /* Place the button 30px from the right */
    border: 2px solid red;
}

div.film-full-info > div.close-button { /*close button on detail box*/
    position: absolute;
    top: 3px;
    right: 6px;
}

div.film-full-info > div.close-button:hover {
    cursor: pointer;
}

div.film-full-info > span.release-runtime {
    display: block;
    font-size: 0.8rem;
}

div.film-full-info > div.poster-and-title-dir-etc { /* contains 2 divs : 1 with the poster ; the other with title, actors, etc */
    display: flex;
}

div.film-full-info > div > .poster { /*poster cell*/
    flex: 0.7;
    /* border: 1px solid green; */

    /* should center horizont and vert the img */
    display: flex;
    justify-content: center;
    align-items: center;
}

div.film-full-info > div > .poster > img {
    max-width:100%;
    max-height:100%;
}


div.film-full-info > div > .title-dir-etc { /*title, actors, etc cell*/
    flex: 2;
}

div.film-full-info > div > .title-dir-etc > h2,h3,h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
}

div.film-full-info > div.synopsis { /*synopsis cell*/
    font-size: 1.1rem;
    margin-top: 5px;
}


div.film-full-info > div.place-and-showtimes > div.cinema-name h2 { /*cinema name*/
    font-size: 1.5rem;
    text-align: center;
}

div.place-and-showtimes > div.showtimes-and-language-container { /*showtimes and language container*/
    display: flex;
    justify-content: space-evenly;
}

div.place-and-showtimes > div.showtimes-and-language-container > div.showtimes-and-language { /* each seance */
    flex: 1;
    border: 1px solid orange;
    text-align: center;
}

/* TO TOP BUTTON STYLES */

#to-top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(199, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #to-top-button:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }