* {
    box-sizing: border-box;
    color: white;
    background-color: rgb(47,79,79);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2rem;
}

img {
    max-width: 200px;
    max-height: 120px;
}

.italic {
    font-style: italic;
}


div.filters {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
}
div.filters select {
    font-size: 2rem;
}

div.filters input {
    font-size: 2rem;
}


div.fire {
    text-align: center;
}

div.fire button {
    cursor: pointer;
    margin: 50px 0;
    font-size: 3rem;
}

/* TABLE STYLES */

div.table {
    max-width: 1600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    border: 1px solid whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

tbody {
    width: 100%;
    /* background-color: aqua; */
}

tr, td {
    border: 1px solid whitesmoke;
}

td.poster {
    text-align: center;
    width: 30%;
}

td.title {
    width: 70%;
    font-size: 2rem;
}



/* DETAILS OF A FILM */
div.film-full-info {
    position: fixed;
    bottom: 50px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    border: 2px solid red;
}


/* TO TOP BUTTON STYLES */

#to-top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(199, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #to-top-button:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }